includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/pepakriz/phpstan-exception-rules/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
  exceptionRules:
    uncheckedExceptions:
      - \LogicException
      - Symfony\Component\Validator\Exception\ConstraintDefinitionException
      - Symfony\Component\Validator\Exception\InvalidOptionsException
      - Symfony\Component\Validator\Exception\MissingOptionsException
      - PHPUnit\Framework\Exception

  excludePaths:
    - vendor
  earlyTerminatingMethodCalls:
    PHPUnit\Framework\TestCase:
      - fail

  ignoreErrors:
#    # PhpStorm doesn't have generics, when we annotate generics and also use @var Psalm complains about unecessary @var
#    - '/Method [\w\\]+::\w+\(\) return type with generic (class|interface) [\w\\]+ does not specify its types: TKey, T/'
#    # Phpstan generics are not playing nice with Psalm generics
#    - message: '/PHPDoc tag @return with type mixed is not subtype of native type object./'
#      path: ../../src/App/Controller/BaseController
#    - message: '/PHPDoc tag @return with type mixed is not subtype of native type object./'
#      path: ../../src/App/Services/JsonApiHelper
#    # Slack client annotates an exception that doesn't actually exist
#    - message: '/Missing @throws Psr\\Http\\Client\\Exception annotation/'
#      path: ../../src/Slack/SlackClient
#    # DateTimeImmutable does not throw an exception
#    - message: '/Missing @throws Exception annotation/'
#      path: ../../DataFixtures/Alice/Factory/TradeData
#    # Regex exceptions just won't get thrown in the core
#    - message: '/Missing @throws Hyra\\App\\Exception\\Utility\\RegexException annotation/'
#      path: ../../src/Preview/Core
#    # Symfony hasn't documented the SerializerInterface to throw ExceptionInterface, even though it does
#    - '/Symfony\\Component\\Serializer\\Exception\\ExceptionInterface is never thrown in the corresponding try block/'
#    # PhpStan doesn't know that callables can throw: https://github.com/pepakriz/phpstan-exception-rules/issues/78
#    - message: '/Exception is never thrown in the corresponding try block/'
#      path: ../../src/Preview/Command/PreviewSmokeTesterCommand.php
#    # Symfony Serializer's ExceptionInterface doesn't extend \Exception like it should
#    - message: '/Parameter #2 \$previous of class Hyra\\App\\Exception\\Api\\BadRequestException constructor expects Exception\|null, Symfony\\Component\\Serializer\\Exception\\ExceptionInterface given./'
#      path: ../../src/App/Services/JsonApiHelper.php
#    # OneupStorageBundle doesn't annotate exceptions in it's interface, we do
#    - message: '/PHPDoc tag @throws with type Symfony\\Component\\HttpFoundation\\File\\Exception\\UploadException is not compatible with parent/'
#      path: ../../src/Storage/System/OneupStorage.php
#    # Allow possibly passing null in tests
#    - message: '/Parameter \#\d .+ expects [^,]+, .*\|null given./'
#      path: ../../tests
#    # Allow possibly calling a method on null in tests
#    - message: '/Cannot call method \w+\(\) on .*\|null./'
#      path: ../../tests
#    # Allow possibly calling an undefined method in tests
#    - message: '/Call to an undefined method/'
#      path: ../../tests
    # No need for @throws annotations in tests
    - message: '/Missing @throws [\w\\]+ annotation/'
      path: tests
#    # Ignore errors for tests that use anonymous classes
#    - message: '/Access to an undefined property object::\$getterCalled./'
#      path: ../../tests/Unit/Audit/Subscriber/EasyAdminAuditSubscriberTest.php
#    # Strings typed with constants can have default values of empty
#    - message: /^Property .* does not accept default value of type ''\.$/
#      path: ../../src/*/Model/*
#    # Extra weird phpstan errors that I'll look at later
#    - message: '/Parameter #1 \$actual of static method Hyra\\Tests\\Helper\\JsonTestHelper::assertResponseIsReadable\(\) expects string, string\|false given./'
#      path: ../../tests
#    - message: '/Parameter #2 \$haystack of static method PHPUnit\\Framework\\Assert::assertStringContainsStringIgnoringCase\(\) expects string, string\|false given./'
#      path: ../../tests
#    - message: '/Parameter #2 \$body of class Hyra\\Tasks\\Model\\Message constructor expects string, string\|false given./'
#      path: ../../tests
#    - message: '/Parameter #2 \$offset of function array_splice expects int, int\|true given./'
#      path: ../../tests
#    - message: '/Parameter #1 \$json of function json_decode expects string, string\|false given./'
#      path: ../../tests
#    - message: '/PHPDoc tag @param for parameter \$actionClass with type array<int, class-string> is incompatible with native type string./'
#      path: ../../tests
